@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

:root {
  --btn-background: #00d3f3;
  --colorBlack: #050505;
  --background: #1e1e1e;
  --crema: #d5d3d3;
  --yellow: #c9a96e;
}

.navbar {
  font-family: "Tektur", sans-serif;
  font-weight: 200;
}

.logo {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.btn_reservas {
  background-color: var(--btn-background);
  color: var(--colorBlack);
  border-radius: 5px;
  padding: 6px 14px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
